# Default and Recommended
OPENAI_API_KEY=your-openai-api-key

# Optionally needed if you're using groq
# GROQ_API_KEY=your-groq-api-key

# Default and Recommended embeddings through nvidia api
# Optional if using local embedding model
NVIDIA_API_KEY=your-nvidia-api-key

# Optional only required for fallback chain, you can define as many as you want, If you're using free-tier and worried about rate limits
# GEMINI_API_KEY_6=your-gemini-api-key
# GEMINI_API_KEY_5=your-gemini-api-key
# GEMINI_API_KEY_4=your-gemini-api-key
# GEMINI_API_KEY_3=your-gemini-api-key
# GEMINI_API_KEY_2=your-gemini-api-key
# GEMINI_API_KEY_1=your-gemini-api-key
